<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="HttpClient" version="0.3.0" targetFramework="net45" />
  <package id="netfx-Guard" version="1.2.0.0" targetFramework="net45" />
  <package id="netfx-Reflector" version="1.0.0.7" targetFramework="net45" />
  <package id="netfx-System.Net.Http.HttpEntityClient" version="1.2.0.0" targetFramework="net45" />
  <package id="netfx-System.Net.Http.HttpNameValueCollection" version="1.0.0.23" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.1-beta1" targetFramework="net451" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net451" />
  <package id="System.Data.SqlClient" version="4.6.0-preview3-27014-02" targetFramework="net451" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net451" />
</packages>